<%-include('./layout/main.ejs') %>


  <main>
    <h1><%= product.title%></h1>
    <h1><%= product.desc%></h1>
    <h1><%= product.price%></h1>
    <form action="/cart" method="post">
      <button type="submit">Add To Cart</button>
      <input type="hidden" name="productId" value="<%= product.id%>">
    </form>
  </main>